.widget{
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 4px 10px 1px rgba(116, 116, 116, 0.448);
    border-radius: 10px;
    height: 20vh;
}
.left, .right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title{
        font-weight: bold;
        font-size: 14px;
        color: rgb(192, 192, 192);
    }
    .counter{
        font-size: 20px;
        font-weight: 300;
    }
    .link{
        width: max-content;
        font-size: 12px;
        border-bottom: 1px solid gray;
    }
    .percentage{
        display: flex;
        align-items: center;
        font-size: 14px;

        &.positive{
            color: green;
        }
        &.negative{
            color: red;
        }
    }
    .icon{
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
    }
}